# Copy to .env and fill in the values
FAROS_DATABASE_SQLITE_URI=secrets/database.sqlite3
# generate by running: `make generate-dev-certs`
FAROS_API_TLS_KEY=secrets/localhost.key
FAROS_API_TLS_CERT=secrets/localhost.crt
