# Copy to .env and fill in the values
FAROS_DATABASE_SQLITE_URI=secrets/database.sqlite3
# generate by running: `make generate-dev-certs`
FAROS_API_TLS_KEY=secrets/localhost.key
FAROS_API_TLS_CERT=secrets/localhost.crt
# very short dev values
FAROS_SESSION_EXPIRE_INTERVAL=5s
FAROS_SESSION_PURGE_TTL=10s
FAROS_ENCRYPTION_KEYS=kpOFaEzmt5qGQJtEuRgdu/ynOjr4BPCVAqozWP3oYTLjRiIj3CKfdmXCT/5iGOzImfL/PzkPXCRAnwGlAwONUw==
FAROS_API_BASICAUTH_AUTHENTICATION_PROVIDER_FILE=secrets/htpasswd
